body {
  margin: 0;
  padding: 0;
  font-family:Helvetica;
}

ul {
  list-style: none;
}

.fl {
  float: left;
}
.fr {
  float: right;
}

.audio {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 200;
  width: 30px;
  height: 30px;
  background: url("../images/music.svg");
  background-size: contain;

}

.amon {
  animation: move 2s linear infinite;
}

@keyframes move {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#fullpage {
  width: 100%;
  max-width: 640px;
  min-width: 300px;
  margin: 0 auto;
}

.section {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#first {
  background-image: url("../images/bg1.jpg");
  background-size: cover;
  .parme {
    width: 100%;
    height: 200px;
    margin: 35% auto 0;
    .me {
      margin: 0 auto;
      width: 100px;
      height: 100px;
      border: 5px solid #000;
      border-radius: 50%;
      overflow: hidden;
      animation: transfor 3s linear infinite;
      background-image: url('../images/me.jpg');
      background-position: center;
      background-size: cover;
      transform: rotate(720deg);
    }
  }
  .mename {
    padding-top: 90px;
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    height: 38px;
    div:nth-child(1) {
      width: 40%;
      text-align: right;
    }
    div:nth-child(2) {
      overflow: hidden;
      span {
        display: inline-block;
        width: 35px;
        height: 30px;
        margin-left: 30px;
        margin-top: 3px;
      }
      span:nth-child(1) {
        background: url("../images/myname.fw.png") no-repeat -3px 0px;
      }
      span:nth-child(2) {
        background: url("../images/myname.fw.png") no-repeat -53px 0px;
      }
      span:nth-child(3) {
        background: url("../images/myname.fw.png") no-repeat -91px 0px;
      }
    }
  }
  .space {
    height: 24px;
    width: 10%;
    margin: 0 auto;
    background-image: url("../images/line.png");
    background-position: center;
  }
  .vocation {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    color: #fff;
    letter-spacing: 8px;
    color: #EDEDED;
  }
}

//处理animate.css
@-webkit-keyframes flip {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
    transform: perspective(400px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

@keyframes flip {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
    transform: perspective(400px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

//处理animate.css

#first.curr {
  .me {
    width: 200px;
    height: 200px;
    transform: none;
    transition: all 1s ease-in 0.3s;
  }
  .mename .nam {
    margin-left: 0;
    transition: all 1s ease-in 0.3s;
  }
  .space {
    width: 90%;
    transition: all 1s ease-out 0.3s;
  }
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .animated.flip {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation-name: flip;
    animation-name: flip;
  }
}

@keyframes transfor {
  0% {
    border-color: rgb(255, 255, 0);
  }
  50% {
    border-color: rgb(0, 255, 255);
  }
  100% {
    border-color: rgb(255, 255, 0);
  }
}
/*2S*/
#second {
  background-image: url('../images/bg2.png');
  background-size: cover;
  position: relative;
  .box {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    span {
      display: table-cell;
      vertical-align: middle;
      font-size: 24px;
      color: #fff;
      padding-top: 30%;
      text-align: center;
    }
  }

  .one {
    background-color: #F5BA42;
    left: 7%;
    top: -18%;
  }
  .two {
    background-color: #9FD367;
    left: 65%;
    top: -30%;
  }
  .thr {
    background-color: #D94351;
    left: 18%;
    top: -39%;
  }
  .fou {
    background-color: #4FC1E9;
    left: 51%;
    top: -50%;
  }
  .fiv {
    background-color: #EC87C1;
    left: 21%;
    top: -68%;
  }
}

#second.curr {
  .one {
    top: 18%;
    transition: all 0.7s cubic-bezier(0.87, 0.03, 0.4, 1.68) 0.7s;}
  .two {
    top: 30%;
    transition: all 0.6s cubic-bezier(0, 0.03, 0.38, 1.54) 0.4s;  }
  .thr {
    top: 39%;
    transition: all 0.4s cubic-bezier(0, 0.03, 0.38, 1.54) 0.5s;  }
  .fou {
    top: 50%;
    transition: all 0.3s cubic-bezier(0, 0.03, 0.38, 1.54) 0.6s;  }
  .fiv {
    top: 68%;
    transition: all 0.2s cubic-bezier(0, 0.03, 0.38, 1.54) 0.3s;  }
}
/*2E*/
/*3S*/
#third {
  background-image: url('../images/bg3.png');
  background-size: cover;
  .frame {
    background: url("../images/frame.png") no-repeat;
    background-size: contain;
    height: 100%;
    width: 70%;
    margin: 35% auto 0;
    padding: 15% 5% 0 10%;
    h2 {
      width: 15%;
      height: 40%;
      font-size: 3em;
      font-weight: 900;
      opacity: 0;
    }
    .vline {
      background: url("../images/vline.png") no-repeat center;
      height: 10%;
      width: 10%;
      margin-top: 50%;
    }
    .describe {
      padding-top: 5px;
      width: 70%;
      opacity: 0;
      span {
        font-size:20px;
        line-height: 26px;
        font-weight: 800;
      }
      p{
        font-size: 20px;
        line-height: 26px;
      }
    }
  }
}
#third.curr {
  .vline {
    height: 60%;
    transition: all 1s;
    margin-top: 0;
  }
  h2 {
    opacity: .7;
    transition: all 2s ease-in .4s;
  }
  .describe {
    transition: all 3s ease-in .3s;
    opacity: .8;
  }
}

#fourth {
  background-image: url('../images/bg4.png');
  background-size: cover;
}

#fifth {
  background-image: url('../images/bg5.jpg');
  background-size: cover;
}



















