html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}
ul,
li {
  list-style: none;
}
html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: 100%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.audio {
  position: fixed;
  right: 2.0rem;
  top: 2.0rem;
  z-index: 200;
  width: 3.0rem;
  height: 3.0rem;
  background: url("../images/music.svg");
  background-size: contain;
}
.amon {
  animation: move 2s linear infinite;
}
@keyframes move {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#fullpage {
  width: 100%;
  max-width: 64.0rem;
  min-width: 30.0rem;
  margin: 0 auto;
}
.section {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#first {
  background-image: url("../images/bg1.jpg");
  background-size: cover;
}
#first .parme {
  width: 100%;
  height: 200px;
  margin: 20% auto 0;
}
#first .parme .me {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 0.5rem solid #000;
  border-radius: 50%;
  overflow: hidden;
  animation: transfor 3s linear infinite;
  background-image: url('../images/me.jpg');
  background-position: center;
  background-size: cover;
  transform: rotate(720deg);
}
#first .mename {
  padding-top: 6.0rem;
  font-size: 3.0rem;
  font-weight: 800;
  color: #fff;
  height: 38px;
}
#first .mename div:nth-child(1) {
  width: 40%;
  text-align: right;
}
#first .mename div:nth-child(2) {
  overflow: hidden;
}
#first .mename div:nth-child(2) span {
  display: inline-block;
  width: 3.5rem;
  height: 3.0rem;
  margin-left: 30px;
  margin-top: 5px;
}
#first .mename div:nth-child(2) span:nth-child(1) {
  background: url("../images/myname.fw.png") no-repeat -3px 0px;
}
#first .mename div:nth-child(2) span:nth-child(2) {
  background: url("../images/myname.fw.png") no-repeat -53px 0px;
}
#first .mename div:nth-child(2) span:nth-child(3) {
  background: url("../images/myname.fw.png") no-repeat -91px 0px;
}
#first .space {
  height: 2.4rem;
  width: 10%;
  margin: 0 auto;
  background-image: url("../images/line.png");
  background-position: center;
}
#first .vocation {
  text-align: center;
  font-size: 5.0rem;
  font-weight: 800;
  color: #fff;
  letter-spacing: 0.8rem;
  color: #EDEDED;
}
@-webkit-keyframes flip {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
@keyframes flip {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
#first.curr .me {
  width: 200px;
  height: 200px;
  transform: none;
  transition: all 1s ease-in 0.3s;
}
#first.curr .mename .nam {
  margin-left: 0;
  transition: all 1s ease-in 0.3s;
}
#first.curr .space {
  width: 90%;
  transition: all 1s ease-out 0.3s;
}
#first.curr .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
#first.curr .animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip;
}
@keyframes transfor {
  0% {
    border-color: #ffff00;
  }
  50% {
    border-color: #00ffff;
  }
  100% {
    border-color: #ffff00;
  }
}
/*2S*/
#second {
  background-image: url('../images/bg2.png');
  background-size: cover;
  position: relative;
}
#second .box {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
}
#second .box span {
  width: 117px;
  display: table-cell;
  vertical-align: middle;
  font-size: 2.0rem;
  color: #fff;
  padding-top: 24%;
  text-align: center;
}
#second .one {
  background-color: #F5BA42;
  left: 7%;
  top: -30%;
}
#second .two {
  background-color: #9FD367;
  left: 65%;
  top: -30%;
}
#second .thr {
  background-color: #D94351;
  left: 18%;
  top: -39%;
}
#second .fou {
  background-color: #4FC1E9;
  left: 51%;
  top: -50%;
}
#second .fiv {
  background-color: #EC87C1;
  left: 21%;
  top: -68%;
}
#second.curr .one {
  top: 18%;
  transition: all 0.7s cubic-bezier(0.87, 0.03, 0.4, 1.68) 0.7s;
}
#second.curr .two {
  top: 30%;
  transition: all 0.6s cubic-bezier(0, 0.03, 0.38, 1.54) 0.4s;
}
#second.curr .thr {
  top: 39%;
  transition: all 0.4s cubic-bezier(0, 0.03, 0.38, 1.54) 0.5s;
}
#second.curr .fou {
  top: 50%;
  transition: all 0.3s cubic-bezier(0, 0.03, 0.38, 1.54) 0.6s;
}
#second.curr .fiv {
  top: 68%;
  transition: all 0.2s cubic-bezier(0, 0.03, 0.38, 1.54) 0.3s;
}
/*2E*/
/*3S*/
#third {
  background-image: url('../images/bg3.png');
  background-size: cover;
}
#third .frame {
  background: url("../images/frame.png") no-repeat;
  background-size: contain;
  height: 100%;
  width: 70%;
  margin: 20% auto 0;
  padding: 15% 5% 0 10%;
}
#third .frame h2 {
  width: 15%;
  height: 40%;
  font-size: 3em;
  font-weight: 900;
  opacity: 0;
}
#third .frame .vline {
  background: url("../images/vline.png") no-repeat center;
  height: 10%;
  width: 10%;
  margin-top: 50%;
}
#third .frame .describe {
  padding-top: 0.5rem;
  width: 70%;
  opacity: 0;
}
#third .frame .describe span {
  font-size: 2.0rem;
  line-height: 2.6rem;
  font-weight: 800;
}
#third .frame .describe p {
  font-size: 2.0rem;
  line-height: 2.6rem;
}
#third.curr .vline {
  height: 60%;
  transition: all 1s;
  margin-top: 0;
}
#third.curr h2 {
  opacity: .7;
  transition: all 2s ease-in 0.4s;
}
#third.curr .describe {
  transition: all 3s ease-in 0.3s;
  opacity: .8;
}
/*4S*/
#fourth {
  background-image: url('../images/bg4.png');
  background-size: cover;
}
#fourth ul {
  height: 100%;
  padding-top: 10%;
}
#fourth ul li {
  margin-bottom: 15px;
  height: 70px;
}
#fourth ul li div:nth-child(1) {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 3px 3px 4px #888;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  position: relative;
  z-index: 333;
}
#fourth ul li div:nth-child(2) {
  height: 50px;
  width: 72%;
  margin-top: 10px;
  line-height: 50px;
  transform: translateX(100%);
  border-radius: 10px;
  opacity: 0.3;
  padding-left: 5%;
  font-size: 1.5rem;
}
#fourth ul li:nth-child(1) div {
  background-color: #D97171;
}
#fourth ul li:nth-child(2) div {
  background-color: #389CD9;
}
#fourth ul li:nth-child(3) div {
  background-color: #8CC83D;
}
#fourth ul li:nth-child(4) div {
  background-color: #DF8A3C;
}
#fourth ul li:nth-child(5) div {
  background-color: #9D62CC;
}
#fourth ul li:nth-child(6) div {
  background-color: #24C650;
}
#fourth.curr li div:nth-child(2) {
  transform: translateX(-5%);
}
#fourth.curr li .one {
  opacity: 1;
  transition: all 0.8s;
}
#fourth.curr li .two {
  opacity: 1;
  transition: all 1s;
}
#fourth.curr li .thr {
  opacity: 1;
  transition: all 1.2s;
}
#fourth.curr li .fou {
  opacity: 1;
  transition: all 1.4s;
}
#fourth.curr li .fiv {
  opacity: 1;
  transition: all 1.6s;
}
#fourth.curr li .six {
  opacity: 1;
  transition: all 1.8s;
}
#fourth.curr li .sev {
  opacity: 1;
  transition: all 2s;
}
#fifth {
  background-image: url('../images/bg5.jpg');
  background-size: cover;
}
#fifth .tit {
  font-size: 6rem;
  font-weight: 800;
  margin-top: 10%;
  text-align: center;
  opacity: 0.5;
  animation: color 3s linear infinite;
}
#fifth .ad {
  width: 100%;
  padding: 20px 0 0 15%;
  font-size: 3rem;
  color: #079;
  transform: translateX(-100%);
}
#fifth .foot {
  height: 40px;
  background: url("../images/foot.fw.png") no-repeat 0 0;
  margin-top: 95px;
  margin-left: 10%;
  width: 0%;
}
@keyframes color {
  0% {
    color: #F01276;
  }
  50% {
    color: #05B7F2;
  }
  100% {
    color: #F01276;
  }
}
#fifth.curr .tit {
  opacity: 1;
  transition: all 1s;
}
#fifth.curr .ad {
  transform: none;
  transition: all 1s cubic-bezier(0, 0, 0.24, 1.78) 0.3s;
}
#fifth.curr .foot {
  width: 100%;
  transition: all 4s;
}
